.dashbord-home-first-hole {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.dashbord-first-card {
    width: 15%;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
}

.card_title {
    border: 1px solid #C6DCBA;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #C6DCBA;
    border-radius: 4px 4px 0px 0px;
}

.card_logo {
    font-size: 1.2rem;
    margin-left: 4px;
}

.card_title h6 {
    margin-left: 6px;
    margin-top: 5px;
}

.card_infos {
    padding: 3px 8px;
    background-color: #7FC7D9;
    border-radius: 0px 0px 4px 4px;
}

/* .no_task {
    text-align: center;
} */

.card_infos span {
    font-size: 0.9rem;
    color: gray;

}

.more_btn {
    text-decoration: none;
    font-size: 0.9rem;
    border: none;
    color: #163020;
}